button {
  height: 30px;
  margin: 5px;
}
.uber {
  background-color: black;
  color: white;
  border: none;
}

.amazon {
  background-color: rgb(255, 234, 0);
  border: none;
  border-radius: 20px;
  width: 150px;
}

.github {
  background-color: rgb(5, 141, 73);
  color: white;
  border: none;
  border-radius: 10px;
  width: 100px;
}
